.title-text {
 margin-top: 10px;
}

.title{
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    display: flex;
}
.titleOne{
    color: #047dff;
    font-size: 1.5em;
    font-weight: 800;
}
.titleTwo{
    color: #00a6bd;
    font-size: 1.4em;
    font-weight: 500;
    margin-left: 10%;
}

.searchInputs input{
  width: 350px;
  height: 30px;
  border: 1px solid #decece;
}
.searchInputs input:focus{
  border: 1px solid #c118cc;
}


.search{
  margin-left: 50px;
}
@media screen and (max-width: 1154px){
  .searchInputs input{
    width: 250px;
  }
}
@media screen and (max-width: 1014px){
  .title{
      margin-left: 5%;
  }
  .searchInputs input{
    width: 200px;
  }
  .titleTwo{
      margin-left: 5%;
  }
  .search{
    margin-left: 30px;

  }

}
@media screen and (max-width: 883px){
  .titleOne{

      font-size: 1.1em;
      font-weight: 500;
  }
  .titleTwo{

      font-size: 0.8em;
      font-weight: 200;
      margin-left: 10%;

  }

  .searchInputs input{
    width: 250px;

  }
}
@media screen and (max-width: 844px){
  .titleOne{

    display: none;
  }
  .titleTwo{

    display: none;

  }
  .searchInputs input{
    width: 350px;

  }
  .search{

    margin-left: 40%;
  }

}
@media screen and (max-width: 567px){
  .search{

    margin-left: 20%;
  }
  .searchInputs input{
    width: 300px;

  }
}
@media screen and (max-width: 500px){
  .search{

    margin-left: 10%;
  }
  .searchInputs input{
    width: 250px;

  }
}
@media screen and (max-width: 450px){
  .search{

    margin-left: 7%;
  }
  .searchInputs input{
    width: 200px;

  }
}
.login-btn{
  margin-left: 250px;
}
.buttons {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: #008CBA;
}
.button2:hover{
  background-color: #08a8dd;
}
@media screen and (max-width: 1660px){
  .login-btn{
    margin-left: 150px;
  }
}
@media screen and (max-width: 1480px){
  .login-btn{
    margin-left: 70px;
  }
}
@media screen and (max-width: 1380px){
  .login-btn{
    margin-left: 20px;
  }
}

@media screen and (max-width: 1340px){
  .login-btn{
    margin-left: 5px;
  }
  .titleOne{

      font-size: 1.2em;
      font-weight: 700;
  }
  .titleTwo{

      font-size: 1em;
      font-weight: 400;
      margin-left: 8%;
  }
}
@media screen and (max-width:1050px){
  .buttons {

    padding: 8px 16px;

    font-size: 14px;

  }
  .titleOne{

      font-size: 1em;
      font-weight: 600;
  }
  .titleTwo{

      font-size: .9em;
      font-weight: 400;
      margin-left: 6%;
  }
}
